
    input { 
        font-size: 20px; 
    }
      input:focus, textarea:focus {
         background-color: rgb(199, 100, 141); 
        }
       input submit { 
        font-size: 12pt; 
    }
    body {
        background-repeat: no-repeat;
        height: 100vh;
        backdrop-filter: 90px;
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
        width: 100%;
        margin: 20px;
        padding: 0;
        background: -o-linear-gradient(rgba(78, 36, 36, 0.5));
    }
    .staffbackg {
       /* background-image: url(biggy.jpg);*/
       background-color: rgba(87, 45, 45, 0.493);
        height: 25vh;
        background-size: cover;
        background-attachment: scroll;
        margin-left: 20px;
        margin-right: 35px;
        padding: 0;
    }
    .staffbackg p{
        font-style: italic;
        text-align-last: center;
        padding-left: 39px;

    }
    /*.big10 p h3{
        font-style: italic;
        text-align: center;
        font-size: xx-large;
        margin-left: 20px;
    }*/
    .landimage {
        filter: 1px;
        width: 0;
    }
    .backd{
        position: relative;
        background-size: cover;
        filter: blur(2px);
        height: 100vh;
        width: 100wh;
     }
    label {
        font-size: larger;
        font: bold;
    
    }
    .content {
        background-color: none;
    }
	p {
        font: bold;
        font-size: large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #submit,#reset {
        background-color: rgb(158, 84, 31);
        border: none;
        color: white;
        padding: center;
        cursor: pointer;
    }
    h1 {
        font: caption;
        font-size: xx-large;
        font-style: oblique;
        color: rgb(99, 55, 23);

    }
.big{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 38px;
    border-radius: 30px;
    text-align: center;
    margin-left: 20px;
}	
.big1, .big2, .big3, .big4, .big5, .big6, .big7, .big8, .big9, .big10, .big11, .big11, .big12 {
    height: 250px;
    width: 300px;
    background-color: grey;
    box-shadow: rgba(185, 86, 86, 0.5);
    margin-left: 35px;
}
.big1, .big2, .big3, .big4, .big5, .big6, .big7, .big8, .big9, .big10, .big11, .big11, .big12 h2 {
    font: bolder;
    font-size: larger;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}
.big1, .big2, .big3, .big4, .big5, .big6, .big7, .big8, .big9, .big10, .big11, .big11, .big12  h2 p{
    text-align: center;
    font: bold;
    font-style: italic;
    margin-left: 0;

}
 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid rgb(243, 140, 140); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #5d6d67;
    color: rgb(12, 11, 11);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f3aaaa;
    padding: 45px 45px;
    width: 75%;
  } 
  .socials a img {
    transform: translateY(-7px);
  }